/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: rgb(253, 253, 253);
}

html,
body {
  overflow-x: hidden;
}

.btn {
  font-size: 12px;
}

.swal-button--confirm {
  border-radius: 2px;
  background-color: #38c5a0;
  -size: 12px;
}
.swal-button--confirm:hover {
  background-color: #338872;
}

div.dropdown-menu {
  border: 1px solid whitesmoke;
  padding: 10px;
}

div.dropdown-menu a {
  font-size: 14px;
  color: #343a40;
}

div.card {
  border: 1px solid whitesmoke;
}

/* MODAL LOGIN */
div.modal-login div.form-group label,
div.modal-login p,
div.modal-login div.modal-footer a {
  font-size: 12px;
}

div.modal-login div.form-group input.form-control {
  font-size: 12px;
  padding: 20px;
}

/* LOGIN */
body.login-page {
  background-image: url("/assets/img/bg-login.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

body.login-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  opacity: 70%;
}

div.form-login {
  position: relative;
  z-index: 999;
  width: 80%;
  margin-top: 90px;
}

div.form-login img {
  width: 250px;
}

div.form-login div.form-group label.d-flex a {
  color: #38c5a0;
}

div.form-login a.tombol-login {
  width: 100%;
  font-size: 14px;
  padding: 12px;
  background-color: #38c5a0;
  color: white;
}

/* DAFTAR */
img.ilus-daftar {
  width: 100%;
}

div.tombol-daftar a.btn {
  width: 100%;
  margin-bottom: 20px;
}

div.card-daftar {
  border: 1px solid whitesmoke;
}

div.card-daftar div.form-group label,
div.card-daftar div.form-group input,
div.card-daftar div.tombol-daftar a.btn,
div.card-daftar div.tombol-daftar p.link-login {
  font-size: 14px;
}

div.form-login p.link-back-daftar {
  font-size: 14px;
}

div.card-daftar div.tombol-daftar a.btn {
  background-color: #38c5a0;
  padding: 14px;
  color: white;
}

div.card-daftar div.form-group input {
  padding: 20px;
  border: 0.5px solid whitesmoke;
}

/* LUPA PASSWORD */
div.lupa-password,
div.kode-password,
div.password-baru {
  width: 100%;
}

div.lupa-password a.btn,
div.kode-password a.btn,
div.password-baru a.btn {
  width: 100%;
}

div.lupa-password a.btn-kirim-kode {
  font-size: 14px;
  background-color: #38c5a0;
  color: white;
  padding: 12px;
}

/* NAVBAR */

button.navbar-toggler {
  border: none;
}

a.nav-link,
a.profil,
a.keranjang {
  font-size: 14px;
}

nav.navbar a.navbar-brand {
  font-weight: 700;
  color: white;
}

nav.navbar a.navbar-brand:hover {
  color: white;
}

nav.navbar form input.form-control {
  font-size: 14px;
  font-family: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 20px;
}

nav.navbar div.head p {
  font-size: 14px;
}

nav.navbar div.dropdown-keranjang div.dropdown-menu,
nav.navbar div.dropdown-notif div.dropdown-menu {
  width: 350px;
}

nav.navbar div.dropdown-keranjang p,
nav.navbar div.dropdown-chat p {
  font-size: 14px;
}

nav.navbar div.dropdown-keranjang b {
  color: #6c757d;
}

nav.navbar div.dropdown-keranjang h6 {
  margin-top: -10px;
  font-weight: bold;
}

div.navbar-nav a.nav-link {
  color: white !important;
}

nav.navbar a.profil,
nav.navbar a.keranjang,
nav.navbar a.notif,
nav.navbar a.pesan {
  text-decoration: none;
}

button.btn-login-home {
  font-size: 12px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #38c5a0;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

/* CHAT */
section.section-chat {
  font-size: 14px;
}

section.section-chat .card-bordered {
  border: 1px solid #ebebeb
}

section.section-chat .card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

section.section-chat .card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07)
}

section.section-chat .card-header .card-title {
  padding: 0;
  border: none;
}

section.section-chat h4.card-title {
  font-size: 17px
}

section.section-chat .card-header>*:last-child {
  margin-right: 0
}

section.section-chat .card-header>* {
  margin-left: 8px;
  margin-right: 8px
}

section.section-chat .btn-secondary {
  color: #4d5259 !important;
  background-color: #e4e7ea;
  border-color: #e4e7ea;
  color: #fff
}

section.section-chat .btn-xs {
  font-size: 11px;
  padding: 2px 8px;
  line-height: 18px
}

section.section-chat .btn-xs:hover {
  color: #fff !important
}

section.section-chat .card-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07)
}

section.section-chat .ps-container {
  position: relative
}

section.section-chat .ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none
}

section.section-chat .media-chat {
  padding-right: 64px;
  margin-bottom: 0
}

section.section-chat .media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear
}

section.section-chat .media .avatar {
  flex-shrink: 0
}

section.section-chat .avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase
}

section.section-chat .media-chat .media-body {
  -webkit-box-flex: initial;
  flex: initial;
  display: table
}

section.section-chat .media-body {
  min-width: 0
}

section.section-chat .media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
  font-weight: 100;
  color: #9b9b9b
}

section.section-chat .media>* {
  margin: 0 8px
}

section.section-chat .media-chat .media-body p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: .8
}

section.section-chat .media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #8b95a5;
  opacity: .8;
  font-weight: 400
}

section.section-chat .media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear
}

section.section-chat .media-meta-day::before {
  margin-right: 16px
}

section.section-chat .media-meta-day::before,
.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb
}

section.section-chat .media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb
}

section.section-chat .media-meta-day::after {
  margin-left: 16px
}

section.section-chat .media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse
}

section.section-chat .media-chat {
  padding-right: 64px;
  margin-bottom: 0
}

section.section-chat .media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear
}

section.section-chat .media-chat.media-chat-reverse .media-body p {
  float: right;
  clear: right;
  background-color: #38c5a0;
  color: #fff
}

section.section-chat .media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px
}

section.section-chat .border-light {
  border-color: #f1f2f3 !important
}

section.section-chat .bt-1 {
  border-top: 1px solid #ebebeb !important
}

section.section-chat .publisher {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafb
}

section.section-chat .publisher>*:first-child {
  margin-left: 0
}

section.section-chat .publisher>* {
  margin: 0 8px
}

section.section-chat .publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent
}

section.section-chat .publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

.file-group {
  position: relative;
  overflow: hidden
}

section.section-chat .publisher-btn {
  background-color: transparent;
  border: none;
  color: #cac7c7;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear
}

section.section-chat .file-group input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20px;
}

/* CARD PRODUK */
a.href-produk, a.card-konten-edukasi {
  text-decoration: none;
}

div.card-produk {
  width: 100%;
}

div.card-produk div.card-body {
  margin-top: -10px;
}

div.card-produk h6.nama-produk {
  font-size: 12px;
  line-height: 18px;
  color: #343a40;
}

div.card-produk p.harga {
  font-size: 18px;
  font-weight: bold;
  margin-top: -2px;
  color: #343a40;
}

div.card-produk p.rating-produk {
  font-size: 12px;
  margin-top: -10px;
  color: #343a40;
}

div.card-produk div.aksi-produk {
  margin-top: -10px;
  margin-bottom: 20px;
}

div.card-produk div.aksi-produk a {
  font-size: 10px;
}

/* DETAIL PRODUK */
div#deskripsi p,
div#kelengkapan,
div#catatan p {
  font-size: 14px;
  margin-top: 10px;
}

div.info-toko a {
  text-decoration: none;
}

div.progress,
div.ml-4 {
  width: 100%;
}

div.progress div.progress-bar {
  background-color: #38c5a0;
}

div.balasan-penjual {
  padding: 25px;
  border-radius: 10px;
}

/* PROFIL TOKO */
div.header-profil-toko {
  padding: 20px;
  box-shadow:4px 4px 20px 0.5px rgb(211, 211, 211);
  border-radius: 15px;
}

div.header-profil-toko div.col-lg-6.col-md-6.col-12.d-flex:nth-child(2){
  margin-top: 20px;
}

div.header-profil-toko img {
  border-radius: 50px;
}

div.nilai-kualitas-produk div.text-warning i {
  font-size: 20px;
}

/* PANTAU PESANAN */
div.section-pantau-pesanan ul li a.nav-link {
  color: #444;
}

div.section-pantau-pesanan ul li a.nav-link.active {
  background-color: #38c5a0;
}

div.detail-pesanan p,
div.detail-pesanan div.alert {
  font-size: 14px;
}

div.upload-gambar.form-group {
  font-size: 10px;
}

div.card.dalam-proses p {
  font-size: 14px;
}

div.form-group.ulasan {
  font-size: 14px;
}

/* CARD WISATA */

section.section-wisata div.card-group div.card p.card-text {
  font-size: 14px;
}

div.wisata a.produk img.image {
  position: relative;
}

div.wisata a.produk div.card-img-overlay {
  background-color: #38c5a0;
  opacity: 80%;
}

div.cari-wisata {
  width: 100%;
}

div.wisata-layout-kanan img {
  width: 35%;
  height: 30%;
}

div.body-artikel-wisata {
  color: #6c757d ;
}

a.share-sosmed {
  border-radius: 500px;
}

div.rekomendasi-wisata {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  width: 100%;
}

div.rekomendasi-wisata img {
  width: 100%;
}

div.rekomendasi-wisata h5, div.artikel-umum h5 {
  color: #6c757d;
}

a.card-konten-edukasi p {
  font-size: 14.5px;
}

/* TENTANG */
div.konten-utama-tentang img {
  width: 100%;
}

/* PUSAT BANTUAN */
input[type="text"].input-pusat-bantuan {
  width: 55%;
}

img.ilus-pusat-bantuan {
  width: 100%;
}

div.pertanyaan {
  width: 70%;
}

div.pertanyaan a b {
  font-size: 14px;
}

img.ilus-chat-admin {
  width: 100%;
}

/* FOOTER */
footer li a {
  font-size: 14px;
}

main.page-umkm footer {
  width: 100%;
}

/* DASHBOARD */
nav.nav-dashboard div.d-flex {
  width: 90%;
}

a.profil-dropdown img {
  width: 40px;
}

nav.navbar div.d-flex a {
  padding: 6px;
}

nav#sidebarMenu li a.active {
  font-weight: 600;
  color: #38c5a0;
}

nav#sidebarMenu li a {
  color: #343a40;
}

nav.navbar-dashboard a.navbar-brand img {
  width: 130px;
}

div.icon-widget {
  font-size: 50px;
}

/* PENJUALAN UMKM */
div.pesanan-baru {
  border: solid 1px rgb(232, 232, 232);
  border-radius: 15px;
  padding: 30px;
}

/* LOGIN ADMIN */
.login-admin div.row{
  background-color: white;
  width: 80%;
  margin-top: 60px;
}

div.bg-login-admin {
  background: url("https://cdn-2.tstatic.net/jogja/foto/bank/images/lurah-guwosari-pajangan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

a.btn-login-admin {
  width: 100%;
}

/* DASHBOARD ADMIN */
div.icon-untung {
  background-color: #38c59f6b;
}

div.icon-untung i {
  font-size: 24px;
}

div.icon-rugi {
  background-color: #fc544b6e;
}

/* EDIT DATA ADMIN */
div.image-preview.foto-edit-data-admin {
  background-image: url("../img/avatar/admin.png");
  background-size: cover;
}

/* EDIT ARTIKEL ADMIN */
div.image-preview.sampul-artikel {
  background-image: url("https://res.klook.com/image/upload/fl_lossy.progressive,q_85/c_fill,w_400,h_260/Blog_Cover_ID_-_Tempat_Wisata_di_Semarang_hrimmu.webp");
  background-size: cover;
}

@media (min-width: 992px) {
  body.login-page {
    background-position-y: -200px;
  }

  div.lupa-password,
  div.kode-password,
  div.password-baru {
    width: 50%;
  }

  div.lupa-password a.btn,
  div.kode-password a.btn,
  div.password-baru a.btn {
    width: 50%;
  }

  div.form-login {
    position: relative;
    z-index: 999;
    width: 30%;
    margin-top: 6px;
  }

  div.form-login img {
    width: 306px;
  }

  nav.nav-dashboard div.d-flex {
    width: 100%;
  }

  a.profil-dropdown img {
    width: 8%;
  }

  nav.navbar div.d-flex a {
    padding: 10px;
  }

  div.cari-wisata {
    width: 40%;
  }

  div.wisata-layout-kanan img {
    width: 35%;
  }

  div.konten-utama-tentang img {
    width: 40%;
  }

  div.header-profil-toko div.col-lg-6.col-md-6.col-12.d-flex:nth-child(2) {
    margin-top: 0;
  }

  nav.navbar-dashboard a.navbar-brand img {
    width: 50%;
  }

  img.ilus-chat-admin {
    width: 35%;
  }

  div.rekomendasi-wisata {
    width: 80%;
  }

  div.rekomendasi-wisata img {
    width: 300px;
  }

  .login-admin div.row{
    width: 50%;
  }

  div.bg-login-admin {
    height: 100%;
  }

}
